.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image {
    height: 300px;
    width: 200px;
    margin: 20px;
    background-size: cover;
    background-position: center;
    cursor: move;
}

#drag1 { background-image: url("https://picsum.photos/id/237/200/300"); }
#drag2 { background-image: url("https://picsum.photos/seed/picsum/200/300"); }
#drag3 { background-image: url("https://picsum.photos/200/300?grayscale"); }
#drag4 { background-image: url("https://picsum.photos/200/300/"); }
#drag5 { background-image: url("https://picsum.photos/200/300.jpg"); }
#drag6 { background-image: url("https://picsum.photos/id/102/200/300"); }

.dragging {
    opacity: 0.5;
}

.over {
    border: 2px dashed #000;
}